@import '../../../../utils/scss/fontSize';
@import '../../../../utils/scss/media';
@import '../../../../utils/scss/variables';
@import '../../../../utils/scss/lineHeight';
@import '../../../../utils/scss/spaces';
.Logo {
  font-size: getFontSize(8) * 1px;
  line-height: map-get($map: $line-height, $key: 'large') * 1px;
  padding: 4px getSpace(4) * 1px;
  color: $textColor;
  text-decoration: none;
  display: block;
  font-weight: 600;
  @include tablet() {
    font-size: getFontSize(6) * 1px;
    line-height: map-get($map: $line-height, $key: 'medium') * 1px;
    padding: getSpace(2) * 1px getSpace(3) * 1px;
  }
  @include mobile() {
    font-size: getFontSize(5) * 1px;
    line-height: map-get($map: $line-height, $key: 'medium') * 1px;
    padding: getSpace(2) * 1px getSpace(2) * 1px;
  }
}

.Logo:focus {
  border: 1px solid $textColor;
  outline: none;
}
