@import '../../../../utils/scss/spaces';
@import '../../../../utils/scss/variables';
@import '../../../../utils/scss/fontSize';

.itemPaddingContainer {
  padding-bottom: getSpace(1) * 1px;
}
.itemContainer {
  display: block;
  background-image: url('../../../../utils/img/grid\ \(1\).svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 20px 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  padding: getSpace(1) * 1px 0;
  padding-left: getSpace(6) * 1px;
  font-size: getFontSize(4) * 1px;
}

.itemContainer:hover {
  background-color: lighten($color: $darkPrimary, $amount: 5);
}
