@import '../../../utils/scss/variables';
@import '../../../utils/scss/spaces';
@import '../../../utils/scss/lineHeight';
@import '../../../utils/scss/fontSize';

.container {
  padding: getSpace(2) * 1px getSpace(1) * 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid lighten($color: $darkBackground, $amount: 10);
  &:hover {
    background-color: lighten($color: $darkBackground, $amount: 10);
    border-bottom: 1px solid lighten($color: $darkBackground, $amount: 20);
  }
}

.databaseName {
  font-size: getFontSize(4) * 1px;
  color: $textColor;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  width: 20%;
}

.created {
  font-size: getFontSize(3) * 1px;
  color: $textColor;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  opacity: 0.7;
  width: 32%;
}

.modified {
  font-size: getFontSize(3) * 1px;
  color: $textColor;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  opacity: 0.7;
  width: 32%;
}

.sql {
  font-size: getFontSize(3) * 1px;
  color: $textColor;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  opacity: 0.7;
  width: 11%;
}

.type {
  font-size: getFontSize(3) * 1px;
  color: $textColor;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  opacity: 0.7;
  width: 11%;
}
