@import '../../../utils/scss/spaces';
@import '../../../utils/scss/lineHeight';
@import '../../../utils/scss/fontSize';
.container {
  list-style: none;
  font-size: getFontSize(3) * 1px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100vh);
  transition: all 0.1s ease;
  padding-left: 0;
  padding-top: 0;
  line-height: 0;
  z-index: -1;
}

.show {
  z-index: 0;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  padding-top: getSpace(0.5) * 1px;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
}
