$secondaryColor: rgb(25, 28, 32);
$dangerColor: #da4358;
$darkPrimaryLight: #50555e;
$primaryColor: rgb(28, 161, 242);
$darkPrimary: #282c34;
$textColor: rgb(235, 235, 235);
$darkBackground: #191c20;
$darkPrimaryColor: #0468aa;
$darkDanger: #c13448;
