@import '../../../../../../utils/scss/spaces';
@import '../../../../../../utils/scss/lineHeight';
@import '../../../../../../utils/scss/fontSize';
@import '../../../../../../utils/scss/variables';
.container {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100vh);
  transition: all 0.1s ease;
  line-height: 0;
  padding-left: getSpace(10.2) * 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  z-index: -1;
  background-image: url('../../../../../../utils/img/c.png');
  background-size: 13px;
  background-position: 65px;
  background-repeat: no-repeat;
}

.show {
  z-index: 0;
  opacity: 1;
  transition: all 0.2s ease;
  pointer-events: all;
  transform: translateY(0);
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
}

.container:hover {
  background-color: lighten($color: $darkPrimary, $amount: 5);
}
