@import '../../../../utils/scss/spaces';
@import '../../../../utils/scss/lineHeight';
@import '../../../../utils/scss/fontSize';
@import '../../../../utils/scss/variables';
.container {
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  padding-top: getSpace(0.5) * 1px;
  list-style: none;
  font-size: getFontSize(4) * 1px;
}

.liContainer {
  padding-left: getSpace(8) * 1px;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: block;
}

.liContainer::before {
  content: '';
  background-image: url('../../../../utils/img/arrow1.png');
  background-size: 14px;
  background-position: 1%;
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 24px;
  left: 44px;
  top: -5%;
  transition: 0.1s all ease;
  transform: rotate(-90deg);
}

.down {
  padding-bottom: getSpace(1) * 1px;
  top: 10%;
}
.down::before {
  transition: 0.2s all ease;
  transform: rotate(0deg);
}
.text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: -6px;
}

.liContainer:hover {
  background-color: lighten($color: $darkPrimary, $amount: 5);
}
